# Visual Studio 2022
.vs/
*.suo
*.user
*.userprefs
*.bak
*.ncb
*.aps
*.bsc
*.sbr
*.pdb
*.obj
*.dll
*.exe
*.ilk
*.idb
*.lib
*.exp
*.res
*.pch
*.ipch
*.log
*.tlog
*.cache
*.sdf
*.vshost.exe
*.vshost.exe.config
*.resharper
*.dotSettings
*.pidb
*.testsettings
*.trx
*.vspscc
*.vssscc
*.build.log
*.wrn
*.err
*.tmp
*.temp
*.obj
*.bin
*.out
*.map
*.manifest
*.mdmp
*.psess
*.vsp
*.coverage
*.coveragexml
*.ncrunchsolution
*.codecoverage
*.gpState
*.hgignore
*.tfignore
*.csproj.user
*.xproj.user
*.fsproj.user
*.vbproj.user
*.targets
*.props
*.lock.json
*.json.log
*.swp
*.swo
*.swn
*.bak
*.old
*.orig
*.rej
*.diff
*.patch
*.gz
*.zip
*.rar
*.7z
*.tar
*.iso
*.dmg
*.vmdk
*.vhd
*.vhdx
*.vdi
*.ova
*.ovf
*.qcow2
*.img
*.bin
*.dat
*.tmp
*.log
*.user
*.suo
*.pdb
*.obj
*.exe
*.dll
*.ilk
*.idb
*.lib
*.exp
*.res
*.pch
*.ipch
*.log
*.tlog
*.cache
*.sdf
*.vshost.exe
*.vshost.exe.config
*.resharper
*.dotSettings
*.pidb
*.testsettings
*.trx
*.vspscc
*.vssscc
*.build.log
*.wrn
*.err
*.tmp
*.temp
*.obj
*.bin
*.out
*.map
*.manifest
*.mdmp
*.psess
*.vsp
*.coverage
*.coveragexml
*.ncrunchsolution
*.codecoverage
*.gpState
*.hgignore
*.tfignore

# NuGet
*.nupkg
*.snupkg
*.cache
packages/
*.nuget.g.props
*.nuget.g.targets

# Build results
[Bb]in/
[Oo]bj/

# Rider
.idea/

# MAUI Specific
MauiApp*/bin/
MauiApp*/obj/